# Web Framework
flask==3.0.2
flask-cors==4.0.0

# YouTube Video Processing
yt-dlp==2024.3.10
youtube-transcript-api==0.6.2

# API and Schema
flask-restful==0.3.10
marshmallow==3.20.2
flask-marshmallow==1.1.0

# Environment Variables
python-dotenv==1.0.1

# OpenAI Integration
openai==0.28.1

# Utils
requests==2.31.0
python-magic==0.4.27 